---
title: Simple mapping with {sf}
author: Nicolas
date: '2018-08-16'
slug: simple-mapping-with-sf
draft: TRUE
categories:
  - R
  - DataScience
  - cartography
tags:
  - R
  - DataScience
description: ''
featured: ''
featuredalt: ''
featuredpath: ''
linktitle: ''
---



<p>This post is based on a notebook I started about R spatial analysis for the project <a href="https://live.osgeo.org/en/index.html">OSGeoLive</a></p>
<p>It aims to provide a quick introduction to R spatial analysis and cartography and will be extended.</p>
<p>R is a language dedicated to statitics and data analysis. It has also a lot of strong packages for spatial analysis. Recent packages like {sf} allows easy <a href="https://en.wikipedia.org/wiki/Simple_Features">Simple Features</a> manipulation.</p>
<p>This document aims to complete the <a href="https://live.osgeo.org/en/overview/R_overview.html">R Overview</a> and <a href="https://live.osgeo.org/en/quickstart/R_quickstart.html">R Quickstart</a>. If you don’t have read them, please consider doing it if you are new to R.</p>
<div id="simple-mapping" class="section level2">
<h2>Simple mapping</h2>
<p>I was inspired by a QGIS example from its <a href="https://live.osgeo.org/en/quickstart/qgis_quickstart.html">quickstart</a>.</p>
<p>We want to represent the sudden infant death syndrome (SIDS) in North Carolina (USA) data from the {spData} package.</p>
<p>More information about the dataset here: <a href="https://nowosad.github.io/spData/reference/nc.sids.html">nowosad.github.io/spData/reference/nc.sids.html</a>.</p>
<div id="needed-libaries" class="section level3">
<h3>Needed libaries</h3>
<p>R comes with a lot of packages to provides functionnalities. Those functions are stocked in libraries and in order to call them, you need to load them beforehand. To do so use the function <em>library(&lt; package name &gt;)</em></p>
<p>This post use latest version (at the time of writing) of those packages:</p>
<ul>
<li>{sf}: 0.6-3</li>
<li>{ggplot2}: 3.0.0</li>
<li>{spData}: 0.2.9.3</li>
</ul>
<p>That is because ggplot2 version 3.0 compatibility with sf have been greatly improved.</p>
<pre class="r"><code># install.packages(c(&#39;sf&#39;, &#39;ggplot2&#39;, &#39;spData&#39;))
library(&#39;sf&#39;) #SimpleFeature Library to handle shapefiles</code></pre>
<pre><code>## Linking to GEOS 3.5.1, GDAL 2.2.2, proj.4 4.9.2</code></pre>
<pre class="r"><code>library(&#39;ggplot2&#39;) # Plotting library to create the maps
library(&#39;spData&#39;) # the data</code></pre>
<pre><code>## To access larger datasets in this package, install the spDataLarge
## package with: `install.packages(&#39;spDataLarge&#39;,
## repos=&#39;https://nowosad.github.io/drat/&#39;, type=&#39;source&#39;))`</code></pre>
<p>Please note that {sf} needs GEOS, GDAL and proj.4 installation on your system. If your are not familiar with those packages, they are probably not installed in your computer. So please consider {sf} requirements <a href="https://r-spatial.github.io/sf/">here</a>.</p>
</div>
<div id="loading-the-data" class="section level3">
<h3>Loading the data</h3>
<p>We need to load the sids data that came from the <em>sids.shp</em> file. To do so, we’ll use the function <em>sf::st_read()</em>.</p>
<p>In this example, the projection is not specified (shapefiles have an attached <em>.proj</em> file who contains the projection definition of the dataset, this file is not provided with this dataset). So I force it to the CRS (Coordinate Reference System) code 4326, which is corresponding to the <a href="https://en.wikipedia.org/wiki/World_Geodetic_System#WGS84">WGS84</a> World Geodetic System use in GPS for example. It is commonly use when you see long/lat coordinates.</p>
<pre class="r"><code>sids &lt;- st_read(dsn = &quot;~/R/x86_64-pc-linux-gnu-library/3.4/spData/shapes/sids.shp&quot;, crs = 4326 )</code></pre>
<pre><code>## Reading layer `sids&#39; from data source `/home/niko/R/x86_64-pc-linux-gnu-library/3.4/spData/shapes/sids.shp&#39; using driver `ESRI Shapefile&#39;
## Simple feature collection with 100 features and 22 fields
## geometry type:  MULTIPOLYGON
## dimension:      XY
## bbox:           xmin: -84.32385 ymin: 33.88199 xmax: -75.45698 ymax: 36.58965
## epsg (SRID):    4326
## proj4string:    +proj=longlat +datum=WGS84 +no_defs</code></pre>
<p>Please note, that I read directly the shapefile, I didn’t load the {spData} package, because the sids dataset in there does not have geometry.</p>
<p>Let’s have quick show of the data 6 first rows:</p>
<pre class="r"><code>head(sids)</code></pre>
<pre><code>## Simple feature collection with 6 features and 22 fields
## geometry type:  MULTIPOLYGON
## dimension:      XY
## bbox:           xmin: -81.74107 ymin: 36.07282 xmax: -75.77316 ymax: 36.58965
## epsg (SRID):    4326
## proj4string:    +proj=longlat +datum=WGS84 +no_defs
##   CNTY_ID  AREA PERIMETER CNTY_        NAME  FIPS FIPSNO CRESS_ID BIR74
## 1    1825 0.114     1.442  1825        Ashe 37009  37009        5  1091
## 2    1827 0.061     1.231  1827   Alleghany 37005  37005        3   487
## 3    1828 0.143     1.630  1828       Surry 37171  37171       86  3188
## 4    1831 0.070     2.968  1831   Currituck 37053  37053       27   508
## 5    1832 0.153     2.206  1832 Northampton 37131  37131       66  1421
## 6    1833 0.097     1.670  1833    Hertford 37091  37091       46  1452
##   SID74 NWBIR74 BIR79 SID79 NWBIR79 east north      x       y       lon
## 1     1      10  1364     0      19  164   176 -81.67 4052.29 -81.48594
## 2     0      10   542     3      12  183   182 -50.06 4059.70 -81.14061
## 3     5     208  3616     6     260  204   174 -16.14 4043.76 -80.75312
## 4     1     123   830     2     145  461   182 406.01 4035.10 -76.04892
## 5     9    1066  1606     3    1197  385   176 281.10 4029.75 -77.44057
## 6     7     954  1838     5    1237  411   176 323.77 4028.10 -76.96474
##        lat L_id M_id                       geometry
## 1 36.43940    1    2 MULTIPOLYGON (((-81.47276 3...
## 2 36.52443    1    2 MULTIPOLYGON (((-81.23989 3...
## 3 36.40033    1    2 MULTIPOLYGON (((-80.45634 3...
## 4 36.45655    1    4 MULTIPOLYGON (((-76.00897 3...
## 5 36.38799    1    4 MULTIPOLYGON (((-77.21767 3...
## 6 36.38189    1    4 MULTIPOLYGON (((-76.74506 3...</code></pre>
<p>You’ll note that there is a column called <em>geometry</em>. It is where the feature (spatial entities are called features, but for statisticians it is a record - but with a geometry). Each feature, in the example each county of North Carolina, has a geometry, here it is Polygons. Please note that the <strong>Simple Features</strong> implementation is made of Points known in coordinates. Polylines are made of Points at each summit. In the same way, Polygons summits are Points and the perimeter can be view as a Polyline. That is the basics of <strong>Simple Features</strong>.</p>
</div>
<div id="mapping" class="section level3">
<h3>Mapping</h3>
<div id="a-basic-map" class="section level4">
<h4>A basic Map</h4>
<p>Let’s see what it looks :</p>
<pre class="r"><code>ggplot(sids)+
  geom_sf()</code></pre>
<p><img src="/post/2018-08-16-simple-mapping-with-sf_files/figure-html/unnamed-chunk-4-1.png" width="672" /></p>
<div class="figure">
<img src="/img/2018/08/sf_mapping01.png" />

</div>
<p>Well, let’s change the projection for a more fitted one of North Carolina: <a href="http://spatialreference.org/ref/epsg/2264/">NAD83 / North Carolina (ftUS) - ESPG code: 2264</a></p>
<pre class="r"><code>sids &lt;- sids %&gt;% st_transform(2264)
ggplot(sids)+
  geom_sf() </code></pre>
<p><img src="/post/2018-08-16-simple-mapping-with-sf_files/figure-html/unnamed-chunk-5-1.png" width="672" /></p>
<p>If we want to represent the rate of sids for the 1000 birth in the 1974 and 1978 period, we will use the data from the BIR74 and SID74 columns. In the quickstart, they represent counts with colors, as we don’t want to offence geographers, lets use a ratio instead. So we want to create a new column with the</p>
<pre class="r"><code>sids[&#39;sids_rate74&#39;] &lt;- (sids[&#39;SID74&#39;] * 1000)/ sids[&#39;BIR74&#39;]</code></pre>
<pre><code>## Warning in `[&lt;-.data.frame`(`*tmp*`, &quot;sids_rate74&quot;, value =
## structure(list(: 2 variables sont fournies pour remplacer 1 variables</code></pre>
<p>Let’s see if our</p>
<pre class="r"><code>head(sids[,c(1,5,24)])</code></pre>
<pre><code>## Simple feature collection with 6 features and 3 fields
## geometry type:  MULTIPOLYGON
## dimension:      XY
## bbox:           xmin: 1193233 ymin: 860658.5 xmax: 2951619 ymax: 1044116
## epsg (SRID):    2264
## proj4string:    +proj=lcc +lat_1=36.16666666666666 +lat_2=34.33333333333334 +lat_0=33.75 +lon_0=-79 +x_0=609601.2192024384 +y_0=0 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=us-ft +no_defs
##   CNTY_ID        NAME sids_rate74                       geometry
## 1    1825        Ashe   0.9165903 MULTIPOLYGON (((1270761 913...
## 2    1827   Alleghany   0.0000000 MULTIPOLYGON (((1340498 959...
## 3    1828       Surry   1.5683814 MULTIPOLYGON (((1570525 910...
## 4    1831   Currituck   1.9685039 MULTIPOLYGON (((2881106 948...
## 5    1832 Northampton   6.3335679 MULTIPOLYGON (((2525610 911...
## 6    1833    Hertford   4.8209366 MULTIPOLYGON (((2665018 911...</code></pre>
<p>How does it look like ? Lets add that to our map.</p>
<p>Here we will use several functions and parameters:</p>
<ul>
<li><strong><em>ggplot(sids)</em></strong> -&gt; we want to make plot of the SIDS dataset</li>
<li><strong><em>geom_sf(aes(fill = sids_rate74))</em></strong> -&gt; we want to apply aestetics to the filling of the geometry using the data from sids_rate74 column</li>
<li><strong><em>scale_fill_viridis_c()</em></strong> -&gt; with the viridis color scale dedicated to filling for continuous data</li>
</ul>
<pre class="r"><code>ggplot(sids)+
  geom_sf(aes(fill = sids_rate74))+
  scale_fill_viridis_c()</code></pre>
<p><img src="/post/2018-08-16-simple-mapping-with-sf_files/figure-html/unnamed-chunk-8-1.png" width="672" /></p>
<p>Not bad. Now we need some refinements like a title, some labels. Those functions are provided by ggplot.</p>
</div>
</div>
<div id="making-a-better-map" class="section level3">
<h3>Making a better map</h3>
<p>First we should save the map in an object so we won’t have to write all the code each time</p>
<div id="creating-map-object" class="section level4">
<h4>Creating map object</h4>
<pre class="r"><code>map &lt;- ggplot(sids)+
  geom_sf(aes(fill = sids_rate74))+
  scale_fill_viridis_c()

map</code></pre>
<p><img src="/post/2018-08-16-simple-mapping-with-sf_files/figure-html/unnamed-chunk-9-1.png" width="672" /></p>
</div>
</div>
<div id="adding-a-title-and-a-subtitle" class="section level3">
<h3>Adding a title and a subtitle</h3>
<pre class="r"><code>map &lt;- map + ggtitle(&quot;Sudden Infant Death Syndrom in North Carolina (USA)&quot;, &quot;1974 -1978&quot;)
map</code></pre>
<p><img src="/post/2018-08-16-simple-mapping-with-sf_files/figure-html/unnamed-chunk-10-1.png" width="672" /></p>
<div id="change-the-legend-title-and-place-it-below-the-map" class="section level4">
<h4>Change the legend title and place it below the map</h4>
<pre class="r"><code>map &lt;- map + scale_fill_viridis_c(name = &quot;SIDS cases \nfor 1000 births&quot;) + 
    theme(legend.position = &quot;bottom&quot;)</code></pre>
<pre><code>## Scale for &#39;fill&#39; is already present. Adding another scale for &#39;fill&#39;,
## which will replace the existing scale.</code></pre>
<pre class="r"><code>map</code></pre>
<p><img src="/post/2018-08-16-simple-mapping-with-sf_files/figure-html/unnamed-chunk-11-1.png" width="672" /></p>
</div>
<div id="remove-the-labels-for-x-and-y-axis" class="section level4">
<h4>Remove the labels for x and y axis</h4>
<pre class="r"><code>map &lt;- map + theme(axis.title.x = element_blank(),axis.text.x = element_blank(), axis.ticks.x = element_blank()) +
    theme(axis.title.y = element_blank(),axis.text.y = element_blank(), axis.ticks.y = element_blank())
map</code></pre>
<p><img src="/post/2018-08-16-simple-mapping-with-sf_files/figure-html/unnamed-chunk-12-1.png" width="672" /></p>
</div>
</div>
</div>
<div id="whats-next" class="section level2">
<h2>What’s next ?</h2>
<p>One thing you can do is use an OpenStreetMap basemap using Leaflet and make it more interactive for example. Or display labels on the map.</p>
<p>Try to reproduce with the data from 1979 to 1984 (<em>hint</em>: use SID79 and BIR79).</p>
<p>There is a lot of documentation regarding R spatial but you might want to take a look at those ressources:</p>
<ul>
<li><a href="https://geocompr.robinlovelace.net/">Geocomputation with R</a> by Robin Lovelace, Jakub Nowosad, Jannes Muenchow</li>
<li><a href="http://www.rspatial.org/">R Spatial</a> by Edzer Pebesma</li>
<li><a href="https://www.rstudio.com/resources/videos/tidy-spatial-data-analysis/">Tidy spatial data analysis (video)</a> by Edzer Pebesma at rstudio::conf 2018</li>
<li><a href="https://statnmap.com/2018-07-14-introduction-to-mapping-with-sf-and-co/">Introduction to mapping with {sf} &amp; Co.</a> on spatial analysis with R by Sebastien Rochette</li>
</ul>
</div>
