{{ with .Site.Social.github }}
<li><a href="//github.com/{{.}}" target="_blank" title="GitHub" class="fa fa-github"></a></li>
{{ end }}

{{ with .Site.Social.bitbucket }}
<li><a href="//bitbucket.com/{{.}}" target="_blank" title="Bitbucket" class="fa fa-bitbucket"></a></li>
{{ end }}

{{ with .Site.Social.jsfiddle }}
<li><a href="//jsfiddle.com/{{.}}" target="_blank" title="JSFiddle" class="fa fa-jsfiddle"></a></li>
{{ end }}

{{ with .Site.Social.codepen }}
<li><a href="//codepen.io/{{.}}" target="_blank" title="CodePen" class="fa fa-codepen"></a></li>
{{ end }}

{{ with .Site.Social.foursquare }}
<li><a href="//foursquare.com/{{.}}" target="_blank" title="Foursquare" class="fa fa-foursquare"></a></li>
{{ end  }}

{{ with .Site.Social.dribbble }}
<li><a href="//dribbble.com/{{.}}" target="_blank" title="Dribbble" class="fa fa-dribbble"></a></li>
{{ end }}

{{ with .Site.Social.deviantart }}
<li><a href="//{{.}}.deviantart.com/" target="_blank" title="DeviantArt" class="fa fa-deviantart"></a></li>
{{ end }}

{{ with .Site.Social.behance }}
<li><a href="//behance.net/{{.}}" target="_blank" title="Behance" class="fa fa-behance"></a></li>
{{ end }}

{{ with .Site.Social.flickr }}
<li><a href="//flickr.com/photos/{{.}}" target="_blank" title="Flickr" class="fa fa-flickr"></a></li>
{{ end }}

{{ with .Site.Social.instagram }}
<li><a href="//instagram.com/{{.}}" target="_blank" title="Instagram" class="fa fa-instagram"></a></li>
{{ end }}

{{ with .Site.Social.youtube }}
<li><a href="//youtube.com/{{.}}" target="_blank" title="YouTube" class="fa fa-youtube"></a></li>
{{ end }}

{{ with .Site.Social.vimeo }}
<li><a href="//vimeo.com/{{.}}" target="_blank" title="Vimeo" class="fa fa-vimeo"></a></li>
{{ end }}

{{ with .Site.Social.vine }}
<li><a href="//vine.co/{{.}}" target="_blank" title="Vine" class="fa fa-vine"></a></li>
{{ end }}

{{ with .Site.Social.medium}}
<li><a href="//medium.com/@{{.}}" target="_blank" title="Medium" class="fa fa-medium"></a></li>
{{ end }}

{{ with .Site.Social.wordpress }}
<li><a href="//{{.}}.wordpress.com" target="_blank" title="WordPress" class="fa fa-wordpress"></a></li>
{{ end }}

{{ with .Site.Social.tumblr }}
<li><a href="//{{.}}.tumblr.com" target="_blank" title="Tumblr" class="fa fa-tumblr"></a></li>
{{ end }}

{{ with .Site.Social.xing }}
<li><a href="//xing.com/profile/{{.}}" target="_blank" title="Xing" class="fa fa-xing"></a></li>
{{ end }}

{{ with .Site.Social.linkedin }}
<li><a href="//linkedin.com/in/{{.}}" target="_blank" title="LinkedIn" class="fa fa-linkedin"></a></li>
{{ end }}

{{ with .Site.Social.slideshare }}
<li><a href="//slideshare.com/{{.}}" target="_blank" title="SlideShare" class="fa fa-slideshare"></a></li>
{{ end }}

{{ with .Site.Social.stackoverflow }}
<li><a href="//stackoverflow.com/users/{{.}}" target="_blank" title="Stack Overflow" class="fa fa-stack-overflow"></a></li>
{{ end }}

{{ with .Site.Social.reddit }}
<li><a href="//reddit.com/user/{{.}}" target="_blank" title="Reddit" class="fa fa-reddit"></a></li>
{{ end }}

{{ with .Site.Social.pinterest }}
<li><a href="//pinterest.com/{{.}}" target="_blank" title="Pinterest" class="fa fa-pinterest"></a></li>
{{ end }}

{{ with .Site.Social.googleplus }}
<li><a href="//plus.google.com/+{{.}}" target="_blank" title="Google+" class="fa fa-google-plus"></a></li>
{{ end }}

{{ with .Site.Social.facebook }}
<li><a href="//facebook.com/{{.}}" target="_blank" title="Facebook" class="fa fa-facebook"></a></li>
{{ end }}

{{ with .Site.Social.twitter }}
<li><a href="//twitter.com/{{.}}" target="_blank" title="Twitter" class="fa fa-twitter"></a></li>
{{ end }}

{{ with .Site.Social.email }}
<li><a href="mailto:{{.}}" title="Email" class="fa fa-envelope"></a></li>
{{ end }}

{{ with .Site.Social.framagit }}
<li><a href="//framagit.org/{{.}}" target="_blank" title="Framagit" class="fa fa-gitlab"></a></li>
{{ end }}
